.stiegl-logo-component .logo-box {
  background: #fff;
  padding: 10px 20px;
  border-radius: 15px 15px 25px 25px;
  text-align: center;
  display: inline-block;
}

.stiegl-logo-component .logo-pre {
  display: block;
  color: #E31A1C;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.stiegl-logo-component .logo-txt {
  display: block;
  color: #E31A1C;
  font-family: 'Germania One', cursive;
  font-size: 30px;
  margin-top: -5px;
}
